* {
  margin: 0;
  padding: 0;
}

p {
  padding-left: 0.625rem;
  color: rgb(126, 6, 133);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  background-color: rgb(219, 194, 242);
  border: solid black 1px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(68, 6, 68);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

body {
  background-color: aliceblue;
  margin: 0 auto;
  width: 90vw;
}
a:link {
  color: red;
}

a:visited {
  color: rgb(0, 0, 128);
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
.purple {
  color: #800080;
}

.purple-bg {
  background: #800080;
}

.fancy {
  font-weight: bold;
  text-shadow: 0.25rem 0.25rem 0.2rem #77f;
}
a {
  color: purple;
}
a[href^="#task"] {
  background-color: #800080;
}

a[href*="#requirements"] {
  background-color: gold;
}

a[href*="#submission"] {
  background-color: gold;
}

a[href*="#grading"] {
  background-color: gold;
}

a[href$="#deadline"] {
  background-color: gold;
}

a[href^="#"] {
  background-color: gold;
}

td,
li {
  list-style-type: none;
  padding-left: 0.625rem;
}

#btn {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  background-color: blue;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.5rem;
  border-radius: 9px;
  padding: 0.25rem;
}

#btn:hover {
  transform: scale(1.1);
}

#identified {
  background-color: #800080;
}
#bannerimage {
  background-image: url(dskny.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  max-width: 100%;
  font-size: small;
  background-color: purple;
  background-position: center;
}

#logo_img {
  width: 9rem;
  height: 9rem;
}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
  }
  #bannerimage {
    height: 25rem;
  }
}

@media screen and (max-width: 1024px) {
  #logo_img {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
}
